name: CI
on:
  push:
    branches:
      - master
  workflow_dispatch:
permissions:
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci-skip]')"
    env:
      MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
      HANGAR_API_KEY: ${{ secrets.HANGAR_API_KEY }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GIT_COMMIT_MESSAGE: ${{ join(github.event.commits.*.message, '<br>') }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: 21
          distribution: 'adopt'
      - name: Build and Publish to Modrinth
        run: |
          ./gradlew modrinth --stacktrace
      - name: Build and Publish to Hangar
        run: |
          ./gradlew publishPluginPublicationToHangar
